adal
antlr4-python3-runtime~=4.9.0
boto3
flask
pyOpenSSL
flatten_json
python-dateutil
requests_toolbelt
stix2-patterns>=1.3.2
stix2-validator>=3.0.0
xmltodict
jsonmerge
json-fix
colorlog
stix2-matcher>=3.0.0